requests==2.31.0
python-dotenv==0.21.1
pyyaml==6.0.1
git+https://github.com/glichtner/fhir.resources#R5
sympy==1.12
pandas==2.1.4
psycopg[binary]==3.1.17
sqlalchemy==2.0.25
pydantic<3.0.0
uvicorn[standard]==0.26.0
fastapi==0.109.0
pendulum==3.0.0
pyinterval==1.2.0
portion==2.4.2
networkx==3.2.1
numpy==1.26.2
pytz==2023.3.post1
cython==3.0.8
setuptools==68.0.0
sortedcontainers==2.4.0
