requests==2.32.0
python-dotenv==1.0.1
pyyaml==6.0.1
fhir.resources==7.1.0
sympy==1.12
pandas==2.2.2
psycopg[binary]==3.1.19
sqlalchemy==2.0.30
pydantic==2.7.1
pydantic-settings==2.2.1
uvicorn[standard]==0.29.0
fastapi==0.111.0
pendulum==3.0.0
portion==2.4.2
networkx==3.3
numpy==1.26.4
pytz==2024.1
cython==3.0.10
setuptools==70.0.0
sortedcontainers==2.4.0
