requests==2.31.0
python-dotenv>=0.21.1
pyyaml==6.0.1
git+https://github.com/glichtner/fhir.resources#R5
sympy==1.12
pandas==2.1.1
psycopg[binary]==3.1.12
sqlalchemy==2.0.22
pydantic<2.0.0
fastapi==0.104.1
uvicorn[standard]==0.23.2
pendulum==2.1.2
